.noteProductTitle {
  text-align: ce !important;
}
// .ant-checkbox-wrapper, .css-dev-only-do-not-override-w8mnev{
// display: flex ;
// align-items: center;

// }
.ant-radio-group
  .ant-radio-group-outline
  .css-dev-only-do-not-override-w8mnev
  div
  label {
  display: flex;
  align-items: center;
}
// .ant-checkbox-input{
//     width: 50px !important;
//     font-size: 40px !important;

// }
